
p.text-white{
    font-size: 12pt;
    text-align: center;
    display: flex;
    align-content: center;
    
}

.wrapperCard {
  position: relative;

}

.infoCard {
position: absolute;
align-items: center;
text-align: center;
top: 0;
left: 0;
 width: 100%;
 height: 100%;
  background-color: rgba(255, 255, 255, 0); /* Fondo transparente inicial */
  opacity: 0;
  transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
  border-radius: 10%;
  padding: 5%;
  
}
.wrapperCard:hover{
    transform: translateY(10px);
}

.wrapperCard:hover .infoCard {
  background: linear-gradient(rgba(224, 181, 8, 0.7),rgba(102, 5, 81, 0.7), rgba(141, 8, 148, 0.7));/* Cambiar el fondo al pasar el cursor */
  opacity: 1;
}


/*responsivo*/
@media (max-width: 576px) {
p.text-white {
    font-size: 10px;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
}
p.text-white {
    font-size: x-small;
}


}